body{
    background-color: #e1f9f4;
}
.main-box{
    width: 564px;
    height: 583px;
    background: #ffffff;
    border: 1px solid #dee1e6;
    margin: auto;
}
.information img{
    width: 120px;
    margin: 40px 40%;
    border: 2px solid blue;
    border-radius: 50%;
}
.information .login-para{
margin-left: 20%;
}
.information .signup-para{
margin-left: 40%;
}
.input-box{
    width: 450px;
    height: 30px;
    border-radius: 5px;
    margin: 10px 10%;
    border: 2px solid blue;
}
.btn{
    width: 450px;
    height: 30px;
    border-radius: 5px;
    margin: 10px 10%;
    background-color: blue;
    color: white;
}
.signup-link{
    padding: auto;
    text-align: center;
}